*{
	margin: 0;
	padding: 0;
  font-family: 'Squada One', cursive;
}
.banner{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(wallpaper.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
	width: 90%;
	margin: auto;
	padding: 0px 0px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.logo{
	width: 250px;
	height: auto;
	cursor: pointer;
}
.navbar ul li{
	list-style: none;
	display: inline;
	margin: 0px 20px;
	position: relative;
}
.navbar ul li a{
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}
.navbar ul li::after{
	content: '';
	height: 3px;
	width: 0;
	background: #009688;
	position: absolute;;
	left: 0;
	bottom: -10px;
	transition: 0.5s ease;
}
.navbar ul li:hover::after{
	width: 100%;

}
.headss{
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	color: #F8F8FF;
}
.headss h1{
	font-size: 60px;
font-family: 'Orbitron', sans-serif;
   margin-top: 70px;
}
.headss p{
    margin: 20px auto;
    font-size: 20px;
    font-weight: 100;
    line-height: 25px;
}
button{
	width: 200px;
	padding: 15px 0;
	text-align: center;
	margin: 20px 10px;
	border-radius: 25px;
	font-weight: bold;
	border: 2px solid #009688;
	background: transparent;
	color: #fff;
	cursor: pointer;
	text-transform: uppercase;
	position: relative;
	overflow: hidden;
}
span{
	background: #009688;
	height: 100%;
	width: 0;
	border-radius: 25px;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	transition: 0.5s;
}
button:hover span{
	width: 100%;
}
button:hover{
	border:none;
}

